/* color: #240403;*/

body {
  max-width: 400px;
  margin: 0 auto;
  border: 1px solid #240403a9;
  border-radius: 10px;
  font-family: "Montserrat", sans-serif;
}

.search-bar {
  margin-top: 30px;
  margin-left: 15px;
  margin-right: 15px;
}

.date {
  text-align: center;
  padding-top: 20px;
  font-size: 25px;
  font-weight: 300;
}
.first-circle {
  border: 1px solid #240403a9;
  border-radius: 50%;
  background: radial-gradient(
    circle at 10% 20%,
    rgb(251, 221, 19, 0.3) 0.1%,
    rgba(255, 103, 1, 0.3) 90%
  );
  width: 200px;
  height: 200px;
  text-align: center;
  margin: 0 auto;
  margin-top: 30px;
}


.city {
  padding-top: 30px;
  font-weight: 400;
  font-size: 25px;
}

.weather {
  font-weight: 400;
  font-size: 14px;
  margin-left: -5px;
}

#weather-icon {
  width: 40px;
  height: 40px;
  object-fit: cover;
}

.weather-pic-combo {
  margin-top: -10px;
  margin-bottom: -10px;
}

#number {
  font-weight: 400;
  font-size: 25px;
}

/*#celsius {
  font-size: 14px;
  transition: all 100ms linear;
}

#celsius:hover {
  color: blue;
  font-weight: 400;
  cursor: pointer;
}

#divider {
  font-weight: 500;
  font-size: 14px;
}

#farenheit {
  font-size: 14px;
  transition: all 100ms linear;
}

#farenheit:hover {
  color: blue;
  font-weight: 500;
  cursor: pointer;
}
*/
.temp-range {
  font-weight: 300;
  font-size: 14px;
}

.wind-speed {
  font-weight: 300;
  font-size: 12px;
}

.humidity {
  font-weight: 300;
  font-size: 12px;
}
.second-circle {
  border: 1px solid #240403a9;
  border-radius: 50%;
  background: radial-gradient(
    circle at 10% 20%,
    rgba(133, 140, 145, 0.3) 0.1%,
    rgba(99, 174, 228, 0.3) 90%
  );
  width: 150px;
  height: 150px;
  text-align: center;
  margin: 0 auto;
  margin-top: 30px;
}

.day {
  padding-top: 15px;
  font-weight: 400;
  font-size: 25px;
}

.weather2 {
  font-weight: 400;
  font-size: 14px;
}

.avg-temp2 {
  font-weight: 400;
  font-size: 25px;
}

.temp-range2 {
  font-weight: 300;
  font-size: 14px;
}

.third-circle {
  border: 1px solid #240403a9;
  border-radius: 50%;
  background: radial-gradient(
    circle at 10% 20%,
    rgba(235, 237, 238, 0.3) 0.1%,
    rgba(82, 83, 83, 0.3) 90%
  );
  width: 100px;
  height: 100px;
  text-align: center;
  margin: 0 auto;
  margin-top: 30px;
}

.day3 {
  padding-top: 7px;
  font-weight: 400;
  font-size: 18px;
}

.weather3 {
  font-weight: 300;
  font-size: 12px;
}

.avg-temp3 {
  font-weight: 300;
  font-size: 14px;
}

.temp-range3 {
  font-weight: 300;
  font-size: 14px;
}

.columns {
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
  text-align: center;
}

.signature {
  text-align: center;
  font-size: 12px;
  margin-bottom: 40px;
}
